#posts {
  width: 640px;
}

.post {
  margin-bottom: 30px;

  p {
    font-family: Arial, Helvetica, sans-serif;
  }

  h2 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    text-transform: uppercase;
  }
}
